@import '../../scss/abstracts';

.container--section-filter {
    display: flex;
}

.sectionFilter {
    background-color: black;
    z-index: 90;
    // overflow-x: scroll;
    
    &__wrapper {
        overflow: visible;
        overflow-x: scroll;
        @include box('y');
        scrollbar-width: 0px;
    
        &::-webkit-scrollbar {
            display: none;
        }
    }
    
    &--spacing {
        margin-bottom: 4rem;
    }
    
    &--float {
        position: sticky;
        top: 0px;
    }
    
    &__label {
        padding: 1rem 1rem 1rem 0;
        @include textModern;
        @include box('r');
        user-select: none;
        white-space: nowrap;
    }
    
    &__options {
        display: flex;
        padding: 0 0 0 2.4rem;
        
        
        .option {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            
            &__label {
                position: relative;
                padding: 1rem 0;
                white-space: nowrap;
                text-transform: lowercase;
                
                &::after {
                    background-color: transparent;
                }
            }
            
            &.checked {
                .option__label::after {
                    content: '';
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: -1rem;
                    right: -1rem;
                    background-color: $purple500;
                    mix-blend-mode: multiply;
                }
            }
            
            &__separator {margin: 0 2rem;}
            
            &:last-child {
                padding-right: 2rem;
            }
            
            &:last-child .option__separator {
                display: none;
            }
        }
    }
}