@import '../../scss/abstracts';

.floatCard {
    position: relative;
    display: block;
    // max-width: 45vw;
    @include box('all');
    
    & + .floatCard {
        margin-top: 4rem;
    }
    
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        @include box('b');
        
        *:last-child {
            margin-bottom: 0;
        }
    }
    
    &__body {
        position: relative;
        
        &-overlay {
            position: absolute;
            @include positionStretch;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 2rem;
            z-index: 10;
            
            h2 {
                hyphens: auto;
                max-width: 60%;
                @include fontMain;
            }
            
            p {
                @include fontSub;
                max-height: 0vh;
                overflow: hidden;
            }
        }
    }
    
    &:hover {
        .floatCard__body-overlay {
            transform: translateX(100%);
            
            p {
                max-height: 100vh;
                transition: none;
            }
        }
        
        .purpleRain {
            &::before {
                opacity: 0;
            }
            
            img {filter: grayscale(0);}
        }
    }
}