@import '../../scss/abstracts';

.card {
    position: relative;
    // width: 200px;
    // height: 240px;
    width: 250px;
    height: 300px;
    @include box('all');
}

.simple {
    border: none;
}

.card__featureImg {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    
    img {
        width: 100%;
        height: 100%;
    }
}

.card__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    height: 100%;
    z-index: 2;
    
    * {
        margin-bottom: 0;
        opacity: 1 !important;
    }
}