@import '../../scss/abstracts';

.react-router-modal__modal {
    transform: translate(-50%, calc(-50% - (2.3rem/2)));
}

.boxModal {
    position: relative;
    background-color: black;
    @include box('all');
    // transform: translateY(-2.3rem);
    
    &::after {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: black;
        @include box('all');
        z-index: -1;
        transform: translate(-2.3rem, 2.3rem);
    }
    
    &__header {
        padding: 3rem;
        @include box('b');
        
        *:last-child {margin-bottom: 0;}
    }
    
    &__wrapper {
        max-width: 90vw;
        min-width: 80vw;
        max-height: 80vh;
        // min-height: 80vh;
        overflow: scroll;
    }
    
    &__body {
        padding: 3rem;
        
        &--ignore-padding {
            padding: 0rem
        }
    }
    
    &__crumbs {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        padding: 0 2rem;
        height: 2.3rem;
        @include box('t');
        
        .crumbs__crumb {
            &:hover .crumbs__crumb-label {
                color: $purple500;
            }
            
            .crumbs__separator {
                padding-left: 1rem;
            }
            
            &:last-child .crumbs__separator {
                display: none;
            }
        }
        
        // .crumbs__separator {
        //     &:last-child {
        //         display: none;
        //     }
        // }
    }
    
    &__actions {
        position: absolute;
        top: 2.3rem;
        left: -2.3rem;
        display: flex;
        flex-direction: column;
        width: fit-content;
        background-color: black;
        z-index: 1;
        
        .boxModal__action {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.3rem;
            height: 2.3rem;
            @include box('x');
            @include box('b');
            
            &:first-child {
                @include box('t');
            }

        }
    }
    
    .sectionFilter {
        border-top: none;
    }
}