@import '../../scss/abstracts';

.boxModal {
    background-color: black;
    @include box('all');
    
    &::after {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: black;
        @include box('all');
        z-index: -1;
        transform: translate(-2.3rem, 2.3rem);
    }
    
    &__body {
        padding: 4rem;
    }
    
    &__actions {
        
    }
}