body {
    @include fontMain;
    line-height: initial;
}

// TODO: clamp() function -> responsive fonts

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

// h2 {
//     font-size: 2rem;
// }

a {
    &, &:hover, &:active {
        color: unset;
        text-decoration: none;
    }
}

.label.small {
    letter-spacing: 2px;
    font-size: .8rem;
}

// @media (min-width: 499px) {
//     h1 {
//         font-size: calc(1rem + 3.9vw) !important;
//     }
// }

// @media (min-width: 576px) {}

// @media (min-width: 768px) {
//     h1 {
//         font-size: calc(1.2rem + 3.9vw) !important;
//     }
// }

// @media (min-width: 992px) {
//     h1 {
//         font-size: calc(1.575rem + 3.9vw) !important;
//     }
// }

// @media (min-width: 1200px) {}