@import '../../scss/abstracts';

.sectionHeader {
    display: flex;
    justify-content: space-between;
    margin: 0;
    @include box('y');
    
    &__title {
        flex: 1;
        padding: 1.5rem 0;
        
        h2 {
            margin-bottom: 0;
            // font-size: clamp(1rem, 4rem, 4rem);
            // line-height: 3.5rem;
        }
    }
    
    .action {
        padding: 0 0 1.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &__label {
            @include textModern;
            font-size: 1.2rem;
            text-align: right;
        }
        
        &__icon svg {
            --d: 40px;
            width: var(--d);
            height: var(--d);
            
            stroke-width: 1px;
            stroke-linecap: butt;
            stroke-linejoin: miter;
        }
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .sectionHeader {
        row-gap: 3rem;
        
        &__title {
            @include box('r');
        }
        
        .action {
            justify-content: flex-end;
            padding: 1.5rem 0;
            
            &__label {
                font-size: calc(1.3rem + 0.6vw);
            }
            
            &__icon svg {
                --d: 70px;
            }
        }
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}