@import '../../scss/abstracts';

.FormField {
    position: relative;
    display: block;
    margin-bottom: 0;
    
    & + label {
        margin-top: .8rem;
        
    }
    
    input {
        background-color: transparent;
        padding: 0.6rem 0;
        width: 100%;
        border: none;
        color: white;
        
        &::placeholder {
            color: white;
            text-transform: lowercase;
        }
        
        &:not(:placeholder-shown) + span, &:focus + span {
            top: 0;
        }
    }
    
    span {
        position: absolute;
        top: 50%; left: .0;
        transform: translateY(-50%);
        opacity: .6;
        @include textModern;
    }
}