@import './scss/abstracts';

* {
    &, &:hover, &:focus, &:focus-within, &::after, &::before {
        transition: all .3s ease;
    }
    
    &::selection {
        background-color: $purple500;
    }
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

img {
    user-select: none;
    pointer-events: none;
}