@import './scss/abstracts';

* {
    &, &:hover, &:focus, &:focus-within, &::after, &::before {
        transition: all .3s ease;
    }
    
    &::selection {
        background-color: $purple500;
    }
    
    scrollbar-width: 0px;
    &::-webkit-scrollbar {
        display: none;
    }
}

.react-loader {
    &, * {
        transition: unset;
    }
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

img {
    user-select: none;
    pointer-events: none;
    object-fit: cover;
}